.add-new-shopping {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    input {
        margin: 5px auto;
    }
}