.book-tags-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-tags {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ant-tag {
        width: 75px;
        margin: 5px;
        font-size: 15px;
        color: black;
    }
}