.zhuishu-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-container {
        width: 60%;
        display: flex;

        button {
            height: 40px;
            width: 100px;
        }
    }
    .results-container {
        width: 60%;
        margin-top: 150px;
    }
}
